@charset "UTF-8";

* {font-family: "Pretendard GOV"; font-size: 16px; font-weight: 400; color: #1E2124;}
body {background: #F4F6F8;}
body.lock {overflow: hidden;}
.btn-wrap {display: flex; justify-content: flex-end; gap: 10px; width: 100%;}
.btn-sch {width: 22px; height: 22px; background: url(../img/ico_sch.png) no-repeat center center; border: 0;}

/* btn */
.btn {min-width: 160px; padding: 4px 16px; text-align: center; font-size: 20px; font-weight: 400; line-height: 1.5; color: rgba(0, 0, 0, 0.5); background: #fff; border: 1px solid rgba(0, 0, 0, 0.5); border-radius: 6px;}
.btn:hover {text-decoration: underline;}
.btn:is(.gray,.blue,.pt) {color: #fff; border: 0;}
.btn.gray {background: #C3C3C3;}
.btn.blue {background: #337AC6;}
.btn.pt {background: #063A74;}
.btn.accordion {display: flex; justify-content: flex-end; align-items: center; gap: 3px; padding: 0; text-align: right; font-size: 14px; font-weight: 500; line-height: 1.5; color: #052B57; border: 0;}
.btn.accordion::after {content: ' '; display: block; width: 20px; height: 20px; background: url(../img/ico_accordion.png) no-repeat center center; transition: 0.4s all;}
.btn.accordion:not(.active)::after {transform: rotate(180deg);}
.btn.accordion.active {text-decoration: underline;}

select {min-width: 60px; height: 24px; padding: 0 10px; font-size: 14px; font-weight: 400; line-height: 1; color: #6D7882; background: #fff url(../img/ico_sch_arr.svg) no-repeat center right 5px; border: 1px solid #61758F; border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select:disabled {filter: contrast(0.5);}

/* chk&rdo */
:where(input[type="checkbox"], input[type="radio"]) {display: none;}
:where(input[type="checkbox"], input[type="radio"]) + label {display: inline-flex; align-items: center; gap: 10px; line-height: 1.5; color: #1E2124; cursor: pointer; vertical-align: middle;}
:where(input[type="checkbox"], input[type="radio"]) + label::before {content: ' '; display: inline-block; width: 20px; min-width: 20px; height: 20px; background: #fff; border: 1px solid #B1B8BE; border-radius: 3px; box-sizing: border-box; transition: 0.3s all;}
input[type="checkbox"]:checked + label {text-decoration: underline; color: #052B57;}
input[type="checkbox"]:checked + label::before {background: #346FB2 url(../img/ico_chk_on.svg) no-repeat center center; border-color: #3B80FF; transition: 0.3s all;} 
input[type="checkbox"]:disabled + label {text-decoration: line-through; color: #6D7882; cursor: auto;}
input[type="checkbox"]:disabled + label::before {background: #CDD1D5; border: 1px solid rgba(88, 97, 106, 0.50);}

input[type="radio"] + label::before {border-radius: 50%;}
input[type="radio"]:checked + label::before {outline: 1px solid #346FB2; border: 5px solid #fff; background-color: #346FB2;}


.header {position: relative; display: flex; justify-content: space-between; align-items: center; padding: 18px 60px 18px 50px; background: #274E72;}
.header .logo a {display: inline-flex; align-items: center; font-size: 30px; font-weight: 600; color: #fff;}
.header .logo a::before {content: ' '; display: inline-block; width: 42px; height: 50px; margin-right: 15px; background: url(../img/logo.png) no-repeat center center;}
.header button {display: flex; align-items: center; gap: 10px; background: transparent; border: 0;}
.header button span {color: #fff;}
.userBox {z-index: 1; position: absolute; top: 100%; right: 0; display: none; background: #fff;}
.userBox ul {display: flex; flex-direction: column;}
.userBox li {border: 1px solid rgba(5, 43, 87, 0.50);}
.userBox .logout {width: 200px; padding: 6px 15px; text-align: left; line-height: 1.5;}
.userBox .logout::before {content: ' '; display: block; width: 20px; height: 20px; background: url(../img/ico_logout.png) no-repeat center center;}
.userBox .logout:hover {text-decoration: underline;}

.container {width: 100%; max-width: 1200px; padding: 55px 0 30px 0; margin: 0 auto 0 auto;}
.container .list {width: 100%}
.container > .btn-wrap {margin-top: 30px;}
.container .list > .btn-wrap {margin-top: 60px;}
.list > ul {display: flex; flex-direction: column; gap: 25px;}
.list > ul > li {position: relative; padding: 35px 50px 40px 50px; background: #fff; border-radius: 6px; box-shadow: 0 0 11px 2px rgba(0, 0, 0, 0.15);}
.list .tit {display: flex; align-items: center; gap: 10px; padding-bottom: 9px; margin-bottom: 20px; font-size: 24px; font-weight: 700; line-height: 1.5; color: #052B57; border-bottom: 1px solid rgba(5, 43, 87, 0.50);}
.list .tit::before {content: ' '; display: block; width: 18px; height: 18px; background: url(../img/list_bullet.png) no-repeat center center;}
.list .sch {position: absolute; top: 40px; right: 50px; display: flex; align-items: center;}
.list .sch.on {}
.list .sch:not(.on) {top: 45px; right: 55px; width: 22px; height: 22px; background: url(../img/ico_sch.png) no-repeat center center; cursor: pointer;}
.list .sch > * {display: none;}
.list .sch input {padding: 5px 30px 5px 9px; background: #fff; border: 1px solid #CDD1D5; border-radius: 4px;}
.list .sch button {position: absolute; right: 5px;}
.list .item {display: flex; flex-direction: column; gap: 5px; max-height: 400px; padding-left: 5px; overflow-y: auto;}
.list .item > li {position: relative; padding-right: 60px;}
.item input[type="checkbox"] + label + select {position: absolute; top: 0; right: 5px; display: none; width: 60px;}
.list .btn-wrap {margin-top: 30px;}

/* popup */
.popup {z-index: 2; position: fixed; top: 50%; left: 50%; display: flex; flex-direction: column; gap: 20px; width: 500px; height: 360px; padding: 40px 60px; background: #fff; border: 1px solid #B1B8BE; border-radius: 12px; transform: translateY(-50%) translateX(-50%);}
.popup p {text-align: center; font-size: 14px; font-weight: 400; line-height: 1.5; color: #346FB2;}
.popup .tit {font-size: 20px; font-weight: 700; color: #063A74;}
.popup .sub {font-size: 12px; color: #464C53;}
.popup .btn-wrap {justify-content: center;}

/* dim */
.dim {z-index: 1; position: fixed; top: 0; left: 0; display: none; width: 100vw; height: 100vh; background: rgba(0,0,0,0.2);}

/* tblBox */
.tblBox {width: 100%; max-height: 600px; overflow-y: auto;}
.tblBox + .tabCont {margin-top: 50px;}
.tbl {position: relative; width: 100%; min-width: 600px; table-layout: fixed;}

.tbl.tL :is(th, td):not(.tC, .tR) {text-align: left;}
.tbl.tR :is(th, td):not(.tL, .tC) {text-align: right;}
.tbl.tC :is(th, td):not(.tL, .tR) {text-align: center;}

.tbl :is(th, td).top {vertical-align: top;}
.tbl :is(th, td).mid {vertical-align: middle;}
.tbl :is(th, td).bottom {vertical-align: bottom;}
.tblBox .tbl.blue thead th {background: #E7F4FE;}
.tblBox .tbl.blue :where(th, td) {border-left: 1px solid #E6E8EA;}
.tblBox .tbl.blue :where(th, td):first-child {border: 0;}
.tblBox .tbl.blue th {font-size: 16px; color: #052B57;}
.tblBox .tbl.blue td {padding: 12px 10px 7px 16px;}
.tblBox .tbl.blue td p {display: block; width: 100%; margin-bottom: 11px; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.tblBox.col :is(th, td) {text-align: center;}
.tblBox.row :is(th, td) {text-align: left;}
.tblBox :is(th, td).need {display: table-cell;}
.tblBox tbody tr:not(:last-child) {border-bottom: 1px solid #E6E8EA;}

.tblBox.col {border-top: 1px solid #CDD1D5; border-bottom: 1px solid #E6E8EA;}
.tblBox.col::-webkit-scrollbar {width: 4px; height: 6px;}
.tblBox.col::-webkit-scrollbar-track {background-color: #E9E9E9;}
.tblBox.col::-webkit-scrollbar-thumb {background-color: #8A949E; border-radius: 6px;}
.tblBox.col thead {z-index: 1; position: sticky; top: 0; /* border-radius: 6px 6px 0 0; */}
.tblBox.col thead tr {border-bottom: 1px solid #CDD1D5;}
.tblBox.col > .tbl:not(.blue) > tbody > tr:hover > :is(th, td) {background: #e5f2ff;}
.tblBox.col th {height: 41px; text-align: center; font-size: 14px; font-weight: 600; line-height: 1.5; color: #131416;}
.tblBox.col td {height: 41px; padding: 5px 20px; background: #fff;}
.tblBox.col thead th {background: #efefef;}
.tblBox.col :where(p, a) {display: inline-block; max-width: 100%; font-size: 14px; font-weight: 400; line-height: 1; color: #131416; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.tblBox.col .sub {font-size: 14px; font-weight: 400; line-height: 1.5; color: #6D7882;}
.tblBox .btn {min-width: 80px; font-size: 14px;}

.tabCont > .tblBox:not(:first-child) {display: none;}


@media (max-width: 1200px) {
    * {font-size: 14px;}
    .header {padding: 18px 20px 18px 20px;}
    .header h1 {flex: 1;}
    .header .logo a {font-size: 20px;}
    .header .logo a::before {min-width: 42px;}
    .container {padding: 30px 20px;}
    .btn {min-width: 60px; font-size: 16px;}
    .list .tit {font-size: 18px;}
    .list .tit::before {min-width: 18px;}
    .list .sch:not(.on) {right: 25px;}
    .list .sch {right: 20px;}
    .list > ul > li {padding: 35px 20px 40px 20px;}
    .popup {width: 100%; max-height: calc(100vh - 100px); padding: 30px; overflow-y: auto;}
    .popup br {display: none;}
}

.course-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.course-table thead {
    background: #f5f5f5;
}

.course-table th,
.course-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tbl-scroll {
    height: 300px;        /* ⭐ 핵심 */
    overflow-y: auto;
    border: 1px solid #ddd;
}

.course-table th:first-child,
.course-table td:first-child {
    width: 60px;          /* ← 여기서 폭 조절 (40~70 추천) */
    min-width: 60px;
    max-width: 60px;
    padding: 0;
    text-align: center;
}

.course-table th:last-child,
.course-table td:last-child {
    width: 100px;        /* ← 여기 조절 (60~90 추천) */
    min-width: 100px;
    max-width: 100px;
    text-align: center;
}

/* 체크박스 + label 가운데 정렬 */
.course-table td:first-child label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.course-table tbody tr:has(input[type="checkbox"]:checked) {
    background: #E7F4FE;
}

.course-table td:first-child label {
    padding: 8px;
}

.course-table thead th {
    position: sticky;
    top: 0;
    background: #f5f5f5;   /* 필수! 안 주면 비침 */
    z-index: 2;
}

.user img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}
.list table td {text-align: left;}